﻿@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>.NET SR</h1>
    <p class="lead">DEVELOPER CHALLENGE</p>
</div>

<h1>Get ready!</h1>

<div class="row">
    <div class="col-md-3">
        <p class="sc-section">
            You'll need your computer set up for
            development with VisulStudio 2017 or
            2019!
        </p>
    </div>
    <div class="col-md-3">
        <p class="sc-section">
            Read the instructions and requirements for
            the challenge.
        </p>
    </div>
    <div class="col-md-3">
        <p class="sc-section">
            You have up to 3 days* to submit your
            solution and keep in mind that we would
            like that you share your best work and
            something you are really proud of.
        </p>
    </div>
    <div class="col-md-3">
        <p class="sc-section">
            Please use Git to version your changes and
            make sure to include the .git directory with
            your submission. If you want to keep your
            code private, you can create a free account
            on Bitbucket.
        </p>
    </div>
</div>

<div>
    <h2>Keep this in mind</h2>
    <ul>
        <li>It's not required to complete all the levels.</li>
        <li>Logical Programming, is to solve things in the simplest and most optimal way possible.</li>
        <li>The developed levels will be evaluated.</li>
        <li>Implementation of basic development concepts (SOLID).</li>
        <li>Use of design patterns.</li>
        <li>Unit tests.</li>
        <li>Documentation.</li>
        <li>Security.</li>
    </ul>
</div>

<hr />
<h1>Level 1.  "to graph is to draw"</h1>

<div class="row">
    <div class="col-md-4">
        <p class="sc-section">
            Create a website that shows the different
            perspectives for the indicator "Non-core inflation"
            on a dashboard.
        </p>
    </div>
    <div class="col-md-4">
        <p class="sc-section">
            Obtain metadata in JSON format by
            implementing the SIE API of Banco de México
        </p>
    </div>
    <div class="col-md-4">
        <p class="sc-section">
            SIE API of Banco de México<br />
            <a href="https://www.banxico.org.mx/SieAPIRest/service/v1/">https://www.banxico.org.mx/SieAPIRest/service/v1/</a><br />
            Method:: GET series/:idSerie/datos<br />
            IdSerie = SP74665  (Inflación No subyacente)
        </p>
    </div>
</div>

<div>
    <h2>Keep this in mind</h2>
    <ul>
        <li>Please read the API documentation carefully.</li>
        <li>Perform unit tests to verify your connection to the service.</li>
        <li>Pre-develop your algorithm.</li>
    </ul>
</div>

<hr />
<h1>Level 2.  "Let's rock"</h1>

<div class="row">
    <div class="col-md-6">
        <p class="sc-section">
            Create an authentication page for the level 1 website.
        </p>
    </div>
    <div class="col-md-6">
        <p class="sc-section">
            You can use basic username/password
            authentication, but try implementing MFA or OAuth2
        </p>
    </div>
</div>

<div>
    <h2>Keep this in mind</h2>
    <ul>
        <li>If you create DB objects (tables, stored procedures) that are for SQL server.</li>
        <li>You must include the script in your solution.</li>
    </ul>
</div>

<hr />
<h1>Bonus</h1>

<div class="row">
    <div class="col-md-4">
        <p class="sc-section">
            Role-based access control (and its management) to
            restrict system access to diferent user operations.
        </p>
    </div>
    <div class="col-md-4">
        <p class="sc-section">
            Send a notification to the system administrator in
            case of incorrectly entering the user password for
            the third time.
        </p>
    </div>
    <div class="col-md-4">
        <p class="sc-section">
            Use your imagination and creativity to WOW us.
            Think of cool and useful features or functionalities
            that you can add to this application. Implement
            them as part of your solution to the challenge!
        </p>
    </div>
</div>