﻿@model CreditSuisse.Models.LoginViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <div class="col-md-4 col-sm-3"></div>
        <div class="col-md-3 col-sm-6">
            <br />
            @Html.LabelFor(x => x.User, new { @class = "" })
            @Html.TextBoxFor(x => x.User, new { @class = "form-control", autofocus = "autofocus" })
            @Html.ValidationMessageFor(x => x.User, null, new { @class = "text-danger" })
            <br />

            @Html.LabelFor(x => x.Password)
            <div class="input-group">
                @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                <span class="input-group-btn">
                    <button id="verPassword" class="btn btn-default" type="button">
                        <i class="glyphicon glyphicon-eye-open"></i>
                    </button>
                </span>
            </div>
            @Html.ValidationMessageFor(x => x.Password, null, new { @class = "text-danger" })
            <br />

            <button class="btn btn-primary" type="submit">
                Login
            </button>
            <br />
        </div>
        <div class="col-md-5 col-sm-3"></div>
    }
</div>

@section scripts {

    <script>
        $('#verPassword').on('mousedown', function () {
            $('#Password').attr("type", "text");
        });

        $('#verPassword').on('mouseup mouseleave', function () {
            $('#Password').attr("type", "password");
        });
    </script>
}